html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.rennergebnisse{
    margin-top: 30px;
    background-color: #FFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.rennergebnisse{
    font-weight: 200;
    /* font-size: 16px; */
    /* line-height: 30px; */
    font-size: 24px;
    line-height: 45px;
}

.rennergebnisse .header{
    font-weight: 600;
    background-color: #000;
    color: #FFF;
}

.rennergebnisse .lap-time{
    font-weight: 600;
}
