{% extends "base.html" %}


{% block fahrer %}
  <div class="row">
    <div class="col-md-4">
    Driver 
    </div>
    <div class="col-md-3">
    last lap 
    </div>
    <div class="col-md-2">
    laps 
    </div>
     <div class="col-md-3">
    fastest lap 
    </div>
</div>

{% for driver in drivers %}
    <div class="row">
            <div class="col-md-4">
            {{driver.name}} {{driver.id}}
            </div>
            <div class="col-md-3" id="last{{driver.id}}">
            0.000
            </div>
            <div class="col-md-2" id="laps{{driver.id}}">
            0 
            </div>
            <div class="col-md-3" id="fastest{{driver.id}}">
            0.000 
            </div>
    </div>
    <div class="row">
            <div class="col-md-9">
                <div  class="progress">
                    <div id="fuel{{driver.id}}"class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                </div>
            </div>
            <div class="col-md-3">
            Platz 
            </div>
    </div>
{% end %}

<div class="row">
    <div class="col-md-6">
    Tabelle schnellste Runde (mit Rueckstand)
    </div>
    <div class="col-md-6">
    Tabelle meiste Runden (mit Rueckstand)
    </div>
    
</div>


{% end %}
